@charset "utf-8";
General
{
	
	width: 80%;
	font-family: raleway,Helvetica,Arial,serif;
	color: #666666;
	position: fixed;
	transform: translate(10%, 0%);

}

/* Header */
header 
{
margin: 0px;
	padding: 0px;
	position:relative;


	height:auto;
	z-index: 5;
	border-color: #000000;
}
tiles{

		align-content: center;
	
	
}
.tiles{

	float: left;

	width: 300px;
	
	
	margin: 5px;
	margin-bottom: 5px;
} 

.tiles img
{
	width: 100%;
	height:auto;
	
}
.subtext
{
clear: left;

}





.home {
	font-family: raleway,Helvetica,Arial,serif;
	font-weight: 900;
	color: #000000;
	font-size: 35px;
	margin-top: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: all  linear;

}
.underline 
{
	list-style-type: none;

	text-decoration: none;
	position: relative;
	margin: 0px;
	padding: 0px;
	border-left: 0px;
	border-bottom: 1px solid dimgray;
}

.home_sub {
	font-family: raleway,Helvetica,Arial,serif;
	display: inline-block;
	font-size: 17px;
	text-align: left;
	float:left;
	margin-top: -50px;
	letter-spacing: 0px;
	color: #A9A9A9;
	text-decoration: none;
	font-weight: normal;
	background-color: orange;
}

menu
{

	list-style: none;
	font-family: Helvetica,Arial,serif;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	margin-top: -30px;
	letter-spacing: 3px;
	font-weight: normal;
	text-transform: uppercase;
	
	
}
menu ul li {
list-style: none;
	text-decoration: none;
	margin-left: 0px;
	padding-left: 0px;
	transform: translate(-40px)
	

}

menu li a {
	margin-left: 0px;
	padding-left:  0px;
	color: #A9A9A9;
	text-decoration: none;
	transition: all 0.1s linear;
}
/* Header Menu */


topmenu
{
display: block;

	list-style-type: none;
	padding:30px 30px 30px 30px;
	float: right;
	width: auto;
}

topmenu li 
{
display: inline;
}
topmenu a 
{
display: block;
	float: left;
	height: 28px;
	margin: 0px 0px 0px;
	text-decoration: none;
	padding: 9px 15px 0px 15px;
	text-align: center;
}
topmenu a, #topmenu a:visited, #topmenu a:active 
{
	color: darkgrey;
}
a:hover
{
	color: black;
}
active a, active a:visited, active a:active
{
	color: darkgrey;
}

/*Content */
content 
{
	background-color: antiquewhite;
}
mainpage
{
	width:700px;
	float: left;
	padding: 5px 5px 5px 0px;
	height: auto;
}
mainpage p {
	line-height: 22px;
	margin: 10px 0px 22px 0px;
	text-align: justify;
}
mainpage blockquote {
	
background: #efefef;
	display: block;
	margin: 5px;
	font-style: italic;
}
h1,h2,h3,h4,h5{
	color: dimgrey;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
#mainpage h1 {
font-size: 24px;
}
h2 {
font-size: 18px;
	padding-top: 20px;
	padding-bottom: 5px;
	border-bottom: 1px solid #282828;
}
subtext h2 {
font-size: 18px;
	padding-top: 20px;
	padding-bottom: 5px;
	border-bottom: 1px solid #282828;
}
mainpage h3 {
font-size: 20px;
}
mainpage h4 {
font-size: 18px;
}
mainpage h5 {
font-size: 16px;
}
mainpage p {
font-size: 12px;
}
/*footer*/
footer
{
	margin:0 auto;
width: 658px;
	height: 20px;
	padding: 10px;
	color:darkgoldenrod;
	text-align: center;
	background: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	clear: both;
}
topbar
{
height: 78px;
}

table, th, td 
{
	border: px solid red;
border-collapse: collapse;
	
	text-align: left;
}
table#t1
{
	width: 75%;
	background-color: yellow;
}


	

menus
{
	
	
}






